default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  host: <%= ENV['POSTGRES_HOST'] %>

development:
  <<: *default
  database: coursera_ruby_on_rails_c6m1_assignment_development

test:
  <<: *default
  database: coursera_ruby_on_rails_c6m1_assignment_test

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: coursera_ruby_on_rails_c6m1_assignment_production
  url: <%= ENV['DATABASE_URL'] %>
